[Unit]
Description=wakey wakey
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/wakey
User=adam

[Install]
WantedBy=multi-user.target
