body, html {
  background-color: #000000;
  color: #ffffff;
}

.container {
  max-width: 100%;
  /*margin: 0 auto;*/
}

#time {
  font-size: 5rem;
}
#date {
  font-size: 1rem;
}

.weather-icon {
  width: 5em;
}

.weather-icon-small {
  width: 25px;
}

table.weather-days: {
  font-size: 12px;
}

thead {
}

th {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid white;
}

td, th {
  padding: 0 3px;
}

.conditions {
  vertical-align: middle;
}
