<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - Mirror Pila!</title>

      <link rel="stylesheet" href="/static/assets/css/main.css" />
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
    </div>

    <script src="/static/assets/js/moment.min.js"></script>
    <script src="/static/assets/js/axios.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>
