{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
  <br/>
  <br/>
  <br/>

  <div class="row">
    <div class="col-6">
      <div id="weather">
        <div class="row">
          <div class="col-6">
            <div>
              <h2 id="city_name"></h2>
              <p>Current: <strong><span id="current_temp"></span>&deg;</strong> </p>

              <p>
                High: <span id="high_temp"></span>&deg; 
                <br/>
                Low: <span id="low_temp"></span>&deg; 
              </p>

              <br/>
              <br/><br/>
            </div>
          </div>

          <div class="col-6">
            <div>
              <h2>Conditions:</h2> <span id="conditions"></span>
              <br/>
              <strong>Clouds:</strong> <span id="clouds"></span>%
              <br/>
              <img class="weather-icon" id="weather-icon" src="#" alt="Weather Icon"/>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-6">
              <div>
                <strong>Sunrise</strong>
                <span id="sunrise"></span>
                <br/>
                <strong>Sunset</strong>
                <span id="sunset"></span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div id="clock"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <h2>Outside Temp: <span id="outside-temp"></span>&deg;</h2>
          <p>Humidity: <span id="outside-humidity"></span>%</p>
      </div>

      <div class="row">
        <div class="col-12">

          <h2>Inside Temp: <span id="inside-temp"></span>&deg;</h2>
        </div>
      </div>
    </div>
  </div>


  <br/><br/>

  <div class="forecast-label row">
    <div class="col-12">
      <h2>Forecast</h2>
    </div>
  </div>

  <div class="row">
      <div id="forecast-html">
      </div>

      {% raw %}
      <script id="forecast" type="text/x-handlebars-template">
          {{#each list}}
          <div class="col-5">
            <div>
              <h4>{{day}}</h4>
                <table class="weather-days">
                  <thead>
                    <tr>
                      <th>
                        Time
                      </th>
                      <th>
                        High
                      </th>
                      <th>
                        Low
                      </th>
                      <th>
                        Clouds
                      </th>
                      <th colspan="2">
                        Conditions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each times}}
                      <tr>
                        <td>
                          {{time}}
                        </td>
                        <td>
                          {{temp_max}}&deg;
                        </td>
                        <td>
                          {{temp_min}}&deg;
                        </td>
                        <td>
                          {{clouds}}%
                        </td>
                        <td class="conditions" colspan="2">
                          {{condition}}
                          &nbsp;&nbsp;
                          <img class="weather-icon-small" src="/static/assets/img/{{icon}}.svg" alt="Weather Icon"/>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        {{/each}}
    </script>
    {% endraw %}

    </div>
  </div>

  <br/><br/>

{% endblock %}
